<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Julia's web site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
  	body {
		background-image: url("https://i.pinimg.com/originals/fb/02/63/fb0263db35d4773bcc1aef405e85a457.jpg");
		color: black;
		text-align: center;
	}
  </style>
  <body>
  	<!--edit the h1 tage for your own name-->
    <h1>Julia's web site</h1>
    
    <!--paste the links from indexwithlinks.ejs here-->
    <ul>
		  <li><a href="sports.html">My favorite sports</a></li>
		  <li><a href="aboutme.html">About Me</a></li>
	  </ul>
	  <background><img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjrkoH04tfiAhVhc98KHc7TBtQQjRx6BAgBEAU&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F796222409090450139%2F&psig=AOvVaw1vNUieFLZW8Q9tuFKLLzXO&ust=1560010707794295" >
    <p>The user count in my nodejs application is: <%= userCount %></p>   <!--copy this line for userbytwo-->
    <p>The user count in my nodejs application is: <%= userbytwo %></p> 
  </body>
</html>

